body {
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 100%;
}
.center {
    width: 80%;
    padding: 5% 10%;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
}

.clocks{
    display: inline-block;
    list-style: none !important;
    font-size: 52pt;
    font-weight: lighter;
}
.clocks > li {
    display: inline-block;
}

.oldTime {
    animation-name:oldTime ;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.newTime {
    animation-name:newTime ;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes oldTime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}